.TasksError {
  background: none;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TasksError p {
  font-size: 2rem;
  color: var(--colorFive);
  text-align: center;
  user-select: none;
}